<%- include('partials/header') %>

<div class="container mt-5">
<<<<<<< HEAD
  <h1>Login</h1>

 <% if (error) { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
<% } %>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/login" method="post" class="row g-3 align-items-center">
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="username" id="email" class="form-control" required />
=======
    <h1>Login</h1>
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <!-- Make post request. -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="username" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password"id="password"  class="form-control"  required />
                            <div class="form-check mt-2">
                                <input type="checkbox" class="form-check-input"  id="showPassword"/>
                                <label class="form-check-label" for="showPassword" >Show Password</label>
                            </div>
                        </div>
                        <button class="btn btn-dark" type="submit">Login</button>
                    </form>
                </div>
>>>>>>> 8a2081a375b2108090312cfd8333ab497508840b
            </div>

            <div class="col-md-6">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" id="password" class="form-control" required />
            </div>

            <div class="col-md-6 d-flex align-items-center">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="showPassword" />
                <label class="form-check-label" for="showPassword">Show Password</label>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-center">
              <button type="submit" class="btn btn-dark w-100">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/main.js"></script>

<<<<<<< HEAD
<%- include('partials/footer') %>
=======
<%- include ('partials/footer') %>
>>>>>>> 8a2081a375b2108090312cfd8333ab497508840b
